{
  "extends": [
    "airbnb",
    "plugin:jest/recommended",
    "prettier"
  ],
  "parser": "babel-eslint",
  "plugins": [
    "prettier"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "func-names": 0,
    "no-plusplus": 0,
    "no-param-reassign": 0,
    "require-yield": 0,
    "prettier/prettier": [
      "error",
      {
        "bracketSpacing": true,
        "jsxBracketSameLine": false,
        "singleQuote": true,
        "trailingComma": "all"
      }
    ],
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/no-autofocus": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/destructuring-assignment": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": 0,
    "react/require-default-props": 0,
    "react/jsx-one-expression-per-line": 0
  }
}
